.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(4, 44, 79, 0.3);
    padding: 25px;
    max-width: 500px;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(10, 52, 77);
    color: #ffffff;
    text-align: center;
}

/* Button Styles Contact-Page */
.bContact {
    width: 100%;
    padding: 12px;
    background-color: rgb(1, 41, 87);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bContact:hover {
    background-color: rgb(53, 199, 233);
}