* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding-top: 67px;
    padding-bottom: 55px;
    background-color: #1d1d1d;
    text-align: center;
    color: #ffffff;
}

p {
    display: inline-block;
    width: 45%;
}

/* Home-Page */
.hero-section {
    background-image: url('../images/home/Hero.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.text-hero-section {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    padding-right: 2%;
    width: 40%;
}

.text-hero-section p {
    font-size: 1.5rem;
}
/* home, login */
.btn {
    transition: all 0.3s ease-in-out;
    background-color: rgb(9, 101, 148);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 35px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/* Rest */
/* franchises, home, software, aboutUs */
.playg8-img {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* advertising, specifications, submission */
.playg8-img-2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* login, technology */
.playg8-img-3 {
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* benifits */
.playg8-img-4 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* advertising, home */
.playg8-img-5 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 20%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* advertising */
.playg8-img-6 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 43%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* technology */
.playg8-img-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.playg8-img-box-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
/* aboutUs, advertising, benifits, franchises, home, jukeboxes, software, submission */
.playg8-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* advertising, benifits, franchises, home, jukeboxes, privacyPolicy, software, specifications, technology, termsOfUse */
.playg8-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* jukeboxes */
.playg8-box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* advertising, specifications */
.playg8-box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.playg8-box-5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

.playg8-box-2 p {
    width: 90%;
}

.playg8-box-4 p {
    width: 90%;
}

.playg8-box-2 li {
    width: 90%;
    text-align: left;
}

.playg8-box-4 li {
    width: 90%;
    text-align: left;
}

.playg8-box-4 ul {
    width: 70%;
}

.playg8-box-4 ol {
    width: 70%;
}
/* aboutUs, advertising, franchises, home, jukeboxes, privacyPolicy, software, specifications, submission, technology, termsOfUse */
.playg8-title {
    font-size: 1.5rem;
}

/* Jukebox Cards Img layout */
.cards-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-2 {
    background-color: rgb(9, 33, 47);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(23, 162, 229, 0.6);
    width: 70%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.card-img-2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}
/* ContactUs-Page */
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    background-color: rgb(4, 44, 79, 0.3);
    padding: 25px;
    max-width: 500px;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(10, 52, 77);
    color: #ffffff;
    text-align: center;
}

.btnContact {
    transition: all 0.3s ease-in-out;
    align-self: center;
    background-color: rgb(9, 101, 148);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 35px;
    font-size: 1.2rem;
}

.btnContact:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/* Login-Page */
.signup-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 95%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(23, 162, 229);
}

.form-control-1 {
    width: 45%;
}