<footer>
    <ul>
        <li><a>&copy;<span id="year"></span>&nbspPlayGate Digital Jukeboxes. All rights reserved.</a></li>
        <li class="fs"><a href="privacyPolicy.html">Privacy Policy</a></li>
        <li class="fs fm fl"><a href="termsOfUse.html">Terms of Use</a></li>
        <li class="fs fm fml fl"><a href="contactUs.html">Contact Us</a></li>
        <li class="fs fm fml fl fxl"><a>(+27) 66 234 1144</a></li>
        <li class="fs fm fml fl fxl fxx"><a>info@playg8.co.za</a></li>
    </ul>
</footer>